/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


/* FORM
.border{
  border: solid;
  border-radius: 10px;
  padding: 20px; 
  border-width: 1px;
  width: 500px;
  margin: 10px;
  
}

h1{
  text-align: center;
  
}

p{
  text-align: left;
  
}

.nama{
  margin-top: -16pt;

}

.item{
  margin-top: -16pt;
}

box{
  margin-left: 30%;
}

.submit{
  margin: 0px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  color:black;

} */


TABEL
.content{
  width: 500px;
}


tr {
  background-color: #ff724f;
 }
 
 table{
   margin: 10px;
   border-style: solid;
   border-width: 1px;
 }
 

label{
  margin-left: 10px;
}

 .inp-text{
  margin-left: 21px;
 
}

 .inp-text1{
   margin-left: 20px;
  
 }

 .inp-text2{
  margin-left: 26px;
 
}
